@{
    ViewData["Title"] = "Alexander Black";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <img src="img/enjoy.jpeg" alt="picture of me hiking" class="img-thumbnail shadow-lg"/>
        </div>
        <div class="col-sm p-4">
            <h2>What I hope to get out of IS 413:</h2>
            <p>
                I hope to learn a ton about web development and increase my skills, capabilities, and speed. This stuff is really exciting! Building dynamic applications is so fun, and I cannot wait to learn more.
            </p>
            <h2>Top Jobs I'm Interested In:</h2>
            <ol>
                <li>Software developer (remote)</li>
                <li>Database administrator (remote)</li>
                <li>Cybersecurity analyst (remote)</li>
            </ol>
        </div>
        
    </div>
</div>
    